h1 {
    color:blueviolet

}

.square{
    width : 22.7%;
    background-color: purple;
    padding-bottom: 22.7%;
    float: left;
    margin:  2%;
    border-radius: 18.3%;
    transition: background-color 1s;
    transition: border-radius 1s;
    border : 3px solid orange;
    cursor :  default;
}
.square.winner{
    background-color: gold;
    border-radius: 25%;
    border : 3px solid black;
    cursor :  default;

}

.square.loser{
    background-color: gray;
    border-radius: 25%;
    border : 3px solid pink;
    cursor :  default;

}